<!DOCTYPE html>
<html lang="nl-BE">
  <%- include('partials/head', { title: 'Favorieten', stylesheets:
  ['/css/reset.css', '/css/style.css'], scripts: ['/js/logged-in.js'] }) %>
  <body>
    <%- include('partials/header') %>
    <main class="mainblack-fav">
      <section class="title-container">
        <h2><strong>Favorieten</strong></h2>
        <a
          href="/favorites/download"
          class="download-btn"
          id="download-btn"
          download
        >
          <img
            src="https://cdn-icons-png.flaticon.com/512/3502/3502477.png"
            alt="Download"
          />
        </a>
      </section>
      <ul>
        <section class="quote-container">
          <% if (favoriteEntries.length === 0) { %>
          <li>Geen favoriete quotes gevonden.</li>
          <% } else { %> <% favoriteEntries.forEach(function(entry) { %>
          <li>
            <p>"<%= entry.quote %>"</p>
            <p>
              <strong class="character-icon">👤:</strong>
              <a
                class="link-personage"
                href="https://lotr.fandom.com/wiki/<%= entry.character %>"
                target="_blank"
                ><%= entry.character %></a
              >
            </p>
            <p>
              <a
                href="#"
                class="delete-quote"
                data-quote="<%- encodeURIComponent(entry.quote) %>"
                data-character="<%- encodeURIComponent(entry.character) %>"
              >
                🗑
              </a>
            </p>
          </li>

          <% }); %> <% } %>
        </section>
      </ul>
    </main>

    <footer class="footer">
      <p>© 2025 MNAB</p>
    </footer>
  </body>
</html>

<script>
  document.querySelectorAll(".delete-quote").forEach(function (btn) {
    btn.addEventListener("click", function (e) {
      e.preventDefault();

      const li = btn.closest("li");
      const encodedQuote = btn.getAttribute("data-quote");
      const encodedCharacter = btn.getAttribute("data-character");

      const quoteText = decodeURIComponent(encodedQuote);
      const characterText = decodeURIComponent(encodedCharacter);

      fetch("/favorites/delete", {
        method: "DELETE",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ quote: quoteText, character: characterText }),
      })
        .then((res) => {
          if (!res.ok) throw new Error("Kon quote niet verwijderen");
          return res;
        })
        .then(() => {
          li.remove();
        })
        .catch((err) => alert(err.message));
    });
  });
</script>
